spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        jdbc:
          batch_size: 50
  h2:
    console:
      enabled: true
  mvc:
    async:
      request-timeout: 120000
server:
  port: 8081


springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
    tagsSorter: alpha
  api-docs:
    enabled: true

dummyjson:
    base-url: https://dummyjson.com
    timeout-seconds: 60
    default-headers:
      Content-Type: application/json
      Accept: application/json
